#arrow2{
  display: none;
}

h2{
  display: none;
}
#reset{
  display: none;
}
span{
  font-size: 30px;
  font-family: bold;
}
body{
  text-align: center;
}
button{
  width: 200px;
  height: 200px;
}
